@charset "UTF-8"
// compass的なミックスインライブラリ nib
@import 'nib'



/* =================================================
 残るコメント
================================================= */

// 残らないコメント


// 変数使える
img_path = '../img/restaurant_001_pc/'
color_black = #333
white = #eee

.hoge
	background color_black url((img_path)"bg_arrow_3.png")
	color white
	border-radius 4px
	background-size 100% 100%


/* =================================================
 ソースのインポート
================================================= */
@import './_for_import'


/* =================================================
 入れ子
================================================= */
ul
	margin-bottom 10px
	li
		font-size 1px


/* =================================================
 クラスパターンとか、疑似クラスとか疑似要素とか
================================================= */
a
	text-decoration none
	&:hover
		text-decoration underline
	&:after
		content 'hoge'

	&.special
		color red



/* =================================================
 継承1
================================================= */
.style_1
	width 100%
	margin-bottom 16px

.style_2
	@extends .style_1
	height 20px

// 他にもミックスインとかループ処理とかいろいろできるよ！