@import 'nib'
@import 'reset.css'

button(text color border-val = 1px solid @background)
	background color
	color text
	border border-val

// 変数
red = #f0c
scheme_1 = #dd2
scheme_2 = #dd9
bgcolor = #ccc
din = 'DIN alternate'

body
	background bgcolor
	color #fff
	padding 40px

// セレクタ
#div.hoge{
	color red
	letter-spacing 5
	transform-origin 50% 50%
}
#header
	background scheme_2;
	box-shadow 1px 10px 23px lighten(#000, 50)
	border-bottom none

#nav ul
	display table
	width 100%
	box-sizing border-box
	margin 0
	padding 0
	
	li
		display table-cell
		background #333
		border-right 1px solid bgcolor
		
		a
			padding 20px
			display block
			text-align center
			text-decoration none
			font-size 20
			font-family din
			font-size 40px
			color #fff

h1
	background scheme_1
	border 1px solid #000
	padding 20px
	border-bottom 4px solid #ff0
	font-family din
	font-size 80px

	a
		text-decoration none
		color #FFF

h2
	border-bottom 2px solid #ff0
	margin-bottom 40px
	padding-bottom 40px

ul
	margin-bottom 40px

.text
	font-size 20px
	line-height 1
	margin 0 20px
	
	span
		color #f00
		background #000

.button 
	background #333
	button #fff #333 #cff
	display inline-block
	padding 10px 20px
		

.button:hover
	background lighten(#000, 30)