extends _layout

block vars
  - var title = "GEEG"
  - var btnText = "click desu"

block contents
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laboriosam eligendi iusto aspernatur necessitatibus sit veniam nesciunt expedita minus, vero, quidem officiis modi id maiores. Incidunt quod inventore maxime nemo.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laboriosam eligendi iusto aspernatur necessitatibus sit veniam nesciunt expedita minus, vero, quidem officiis modi id maiores. Incidunt quod inventore maxime nemo.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laboriosam eligendi iusto aspernatur necessitatibus sit veniam nesciunt expedita minus, vero, quidem officiis modi id maiores. Incidunt quod inventore maxime nemo.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laboriosam eligendi iusto aspernatur necessitatibus sit veniam nesciunt expedita minus, vero, quidem officiis modi id maiores. Incidunt quod inventore maxime nemo.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laboriosam eligendi iusto aspernatur necessitatibus sit veniam nesciunt expedita minus, vero, quidem officiis modi id maiores. Incidunt quod inventore maxime nemo.
