- var title = '<s>nekoneko Cat man</s>';

//- page ID index1 hoge2
- var pageID = 1;
- var din = 'DIN alternate';

doctype html
html
	head
		link(type='text/css', rel='stylesheet', href='./css/test.css')
		title Hello
		<!-- inject:js -->
		<!-- endinject -->

		<!-- inject_bower:js -->
		<!-- endinject -->

		<!-- bower:js -->
		<!-- endinject -->

		<!-- inject:css -->
		<!-- endinject -->

	body
		// if lt IE 9
			script src="html5.js"

	//- include header module ##########################################################################################
	include _header
	//- ################################################################################################################
	p
		!=title

		//- comment 
		// comment comment 

	- if (pageID === 1)
		div.kv
			img(src="hoge.html", alt="ようこそ登別へ", width="100%", height="400")

	header#header
		div.title
			h1
				- var target = 'a';
				case target 
					when "a"
						| page: A
					when "b"
						| bbb
					when 5
						| 5番目のページ



	#contents
		h1 #{title}
		h2 test
		h3 hoge
		ul
			li
				a(href="hoge/") test
			li
				a(href="neko/") nya-n

		button.button test

	div#hoge
		<hr>
		p hoge

	div#container
		h1 
			a(href="http://www.nanonum.com") NANONUM
		p
			| tetetetetetesese位ニット
			br
			| 陽は沈む
			br
			| 猫
		
			p #{textLayerData.layerHoge.text}
			p #{textLayerData.layerFuga.text}
	
	div#attr(hoge='a', data='hoho')

	- var attr = {'neko': 'inu', 'inuinu': "drum'n'bass"};
	div#nekoinu(style = {'font-size': '80px', 'font-family': din, 'text-transform': 'uppercase'})&attributes(attr)
		script.
			document.write( $('#nekoinu').attr('inuinu') )

	div#hoge
		h2 subtitle
		h3 hogehoge

	ul#nav
		li
			a hoge
		li neko
		li inu


	hr

	p test
	p gegege

	ol
		li list
		li hoge

	div#container
		h1 GitHub
		p むずいな

	p.button click


	//- include header module ##########################################################################################
	include _footer
	//- ################################################################################################################

